{% extends 'shop/base.html' %}
{% block main-content %}
 <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Typical and Authentic</span>
                                    <span class="section-heading-lower">About Us</span>
                                </h2>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea repellendus, error quibusdam eveniet, iure corrupti consequuntur officia nostrum aut nihil nisi labore recusandae aspernatur animi dolore? A rem laboriosam nesciunt!</p>
                                <p class="mb-0">
                                    We guarantee that you will fall in
                                    <em>lust</em>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quibusdam placeat nemo illum? Ipsa dolores, architecto consequuntur, veritatis earum, molestiae aperiam cum error tempora veniam labore vel esse excepturi quibusdam?                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock main-content %}
