{% extends 'shop/base.html' %}
{% load static %}
{% block main-content %}
<section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Blended to Perfection</span>
                                <span class="section-heading-lower">Coffees & Teas</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'shop/assets/img/products-01.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo ut fugiat perspiciatis ab sequi dolores quam beatae iure, corporis voluptas eaque totam. Dicta voluptates ducimus similique repellendus, possimus eos. Fugiat!</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                                <span class="section-heading-lower">Soups & Noodles</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'shop/assets/img/products-02.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi natus officiis, consequuntur placeat consequatur vel facere dignissimos eos perspiciatis eveniet debitis laudantium quos ipsum qui quidem totam fuga, hic vero?</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">From Authentic Vietnam</span>
                                <span class="section-heading-lower">Here in Germany</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'shop/assets/img/products-03.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga soluta possimus ullam explicabo beatae, dolorum quas officiis! Minus fugit porro veritatis cumque autem error, laudantium ipsam quis, velit quibusdam eaque?.</p></div>
                    </div>
                </div>
            </div>
        </section>
                <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                                <span class="section-heading-lower">Bowls and Salads</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'shop/assets/img/products-02.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias aliquam vitae cumque, corrupti consequuntur optio suscipit dolor expedita in odio enim itaque! Rerum praesentium voluptatibus illo odio, quibusdam minus eos.</p></div>
                    </div>
                </div>
            </div>
        </section>
                <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">From Authentic Vietman</span>
                                <span class="section-heading-lower">Here in Dusseldorf</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'shop/assets/img/products-03.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi itaque quibusdam neque soluta sed animi culpa? Amet illum sint reprehenderit libero tempore, ipsum veritatis ratione incidunt consectetur, mollitia pariatur sunt?</p></div>
                    </div>
                </div>
            </div>
        </section>
{% endblock main-content %}
